<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

<!-- This is a template settings.xml file for deploying to Maven Central via Sonatype OSS -->
<!-- Copy this file to ~/.m2/settings.xml or merge with your existing settings.xml -->

<servers>
  <server>
    <id>central</id>
    <username>${env.MAVEN_USERNAME}</username>
    <password>${env.MAVEN_PASSWORD}</password>
  </server>
</servers>

<profiles>
  <profile>
    <id>central</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <properties>
      <gpg.keyname>${env.MAVEN_GPG_PRIVATE_KEY}</gpg.keyname>
    </properties>
  </profile>
</profiles>

</settings>