<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <!-- Servers configuration -->
    <servers>
        <server>
            <id>ossrh</id>
            <username>${env.MAVEN_USERNAME}</username>
            <password>${env.MAVEN_PASSWORD}</password>
        </server>
    </servers>

    <!-- Profile configuration -->
    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault> <!-- Activate this profile by default -->
            </activation>
            <properties>
                <gpg.keyname>${env.MAVEN_GPG_KEY_ID}</gpg.keyname> <!-- The GPG key ID -->
                <gpg.passphrase>${env.MAVEN_GPG_PASSPHRASE}</gpg.passphrase> <!-- The GPG passphrase -->
            </properties>
        </profile>
    </profiles>

</settings>